.cabecalho{
    display: flex;    
    justify-content: center;
}

.cabecalho1{
   
    justify-content: center;
    
}
.historia{
    
    text-align: left;
    justify-content: center;
}
body{
    background-image: url(florestamazonica.jpg);
}
  