.cabecalho{
    display: flex;
    justify-content: space-between;
}

.cabecalho .logo{
    display: flex;
    gap: 15px;
}

.cabecalho .menu{
    display: flex;
    gap: 30px;
    padding: 15px;
    font-weight: bolder;
}

.home{

}

.tresColunas{
    display: flex;
    padding: 10;
    text-align: justify;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.oquefaz{
    background-image: url('topicos1.png');
    padding: 20px;
    width: 300px;

}

.quemsomos{
    background-image: url('topicos2.png');
    padding: 20px;
    width: 300px;
}

.doacao{
    background-image: url('topicos3.png');
    padding: 20px;
    width: 300px;
}