.cabecalho{
    background-color: rgb(243, 222, 192); 
    display: flex;
    justify-content: space-between;
}

.cabecalho .logo{
    display: flex;
    gap: 15px;
}

.cabecalho .menu{
    display: flex;
    gap: 30px;
    padding: 15px;
    font-weight: bolder;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;

}


.botao{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.tresColunas{
    display: flex;
    padding: 10px;
    text-align: justify;
    height: 80vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.oquefaz{
    background-image: url('topicos1.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 350px;
    background-size: 300px;
}

.quemsomos{
    background-image: url('topicos2.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 350px;
    background-size: 300px;
    
}

.doacao{
    background-image: url('topicos3.png');
    width: 300px;
    background-repeat: no-repeat;
    height: 350px;
    background-size: 300px;
}

.imghome{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.container { 
    text-align: center;
}

.formulario{
     display: flex;
    padding: 10px;
    text-align: justify;
    height: 30vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.vinte{
    background-color: red;
    padding: 50px;

}

.trintaEcinco{
    background-color: red;
    padding: 50px;

}

.cinquenta{
    background-color: red;
    padding: 50px;
}

.valor{
    background-color: red;
    padding: 60px;

}